* {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background: #fafafa
}

.darkmode-container {
  background: #d3d3d3;
  border-radius: 20px;
  border: 1px solid #aeaeae;
  width: 60px;
  height: 20px;
  margin-bottom: 10px;
  position: relative;
}

.darkmode-toggler {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  background: #4f4f4f;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -5px;
  right: -5px;
  cursor: pointer;
  transition: 0.3s;
}

.darkmode-toggler.night {
  right: 35px;
  background: #00a2d7;
}

.fa-moon {
  color: #fefefe
}

.fa-sun {
  display: none;
  color: #fefefe;
  font-size: 19px;
}

.darkmode-toggler.night .fa-moon {
  display: none;
}

.darkmode-toggler.night .fa-sun {
  display: inline-block;
}

body.dark main {
  background: #121212;
}

body.dark h1, body.dark h2 {
  color: #fefefe
}